{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SandwichesWeb</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css?h=1ef9f4edf03c0ad247e505c510f71227">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top">
        <div class="container"><img id="logo" src="{% static 'sandwichesweb/images/logo.png' %}"><a class="navbar-brand" href="index.html"><strong>Sándwiches&nbsp;Virtual</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="order.html" style="text-shadow: 0px 0px;">¡Haz tu orden!</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Reportes</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <form>
            <div class="form-group" id="form-group-ci"><input class="form-control" type="number" id="ci-input" name="ci" placeholder="CI"></div>
            <div class="form-group" id="form-group-fn"><input class="form-control" type="text" id="fn-input" name="first_name" placeholder="Primer nombre"></div>
            <div class="form-group" id="form-group-mn"><input class="form-control" type="text" id="mn-input" name="middle-name" placeholder="Segundo nombre"></div>
            <div class="form-group" id="form-group-surname"><input class="form-control" type="text" id="surname-input" name="surname" placeholder="Primer apellido"></div>
            <div class="form-group" id="form-group-ss"><input class="form-control" type="text" id="ss-input" name="second-surname" placeholder="Segundo apellido"></div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>